<section class="py-8 px-14">
  <h2>List des employee</h2>

  @if (isLoading()) {
    <div>chargement des datas .........</div>
  } @else {
    <app-employee-list
      [employees]="employees()"
      (employeeIdSelected)="getOneEmployee($event)"
      (employeeIdDeleted)="deleteEmployee($event)"
    />
  }

  <div class="flex justify-center">
    <button (click)="clearDetails()" class="py-4 px-8 bg-red-400 rounded-2xl">clear</button>
  </div>
  <div>
    <h2>details</h2>
    @if (employeeSelected(); as selected) {
      <app-employee [employee]="selected" />
    } @else {
      <p>aucun data selectionné</p>
    }
  </div>

  <router-outlet />
</section>
