@if (isLoading()) {
  <div class="flex justify-center items-center py-10">
    <div
      class="w-12 h-12 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"
    ></div>
  </div>
} @else {
  <div class="max-w-2xl mx-auto p-6 space-y-4">
    @let users = employees();

    @for (item of users; track item.id) {
      <div
        class="flex items-center justify-between bg-white shadow-md rounded-2xl p-5 border border-gray-200 hover:shadow-lg transition"
      >
        <!-- Infos utilisateur -->
        <div class="space-y-1">
          <h3 class="text-lg font-semibold text-gray-800">👤 {{ item.name }}</h3>

          <p class="text-gray-600">
            Age :
            <span class="font-medium text-gray-900">
              {{ item.age }}
            </span>
          </p>
        </div>

        <!-- Actions -->
        <div class="flex gap-3">
          <button
            class="px-4 py-2 rounded-xl bg-blue-500 text-white font-medium hover:bg-blue-600 transition"
          >
            Edit
          </button>

          <button
            class="px-4 py-2 rounded-xl bg-red-500 text-white font-medium hover:bg-red-600 transition"
            (click)="onSelect(item.id)"
          >
            Delete
          </button>
        </div>
      </div>
    }
  </div>
}
