<div class="max-w-2xl mx-auto p-6 space-y-4">
  <div class="max-w-md mx-auto bg-white shadow-lg rounded-2xl p-6 border border-gray-200">
    <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Add User</h2>

    <form class="space-y-5" [formGroup]="userData" (submit)="onSubmit()">
      <!-- Name -->
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700 mb-2"> Name </label>

        <input
          formControlName="name"
          type="text"
          id="name"
          placeholder="Enter user name"
          class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition"
        />
        <div>
          @let nameCtrl = userData.get('name');

          @if (nameCtrl?.errors) {
            @if (nameCtrl?.hasError('required') && nameCtrl?.touched) {
              <h3 class="text-[13px] text-red-400">le champ nom est obligatoire</h3>
            }

            @if (nameCtrl?.hasError('minlength')) {
              <h3 class="text-[13px] text-red-400">2 caractère minimum</h3>
            }

            @if (nameCtrl?.hasError('maxlength')) {
              <h3 class="text-[13px] text-red-400">10 caractère minimum</h3>
            }
          }
        </div>
      </div>

      <!-- Age -->
      <div>
        <label for="age" class="block text-sm font-medium text-gray-700 mb-2"> Age </label>

        <input
          formControlName="age"
          type="number"
          id="age"
          placeholder="Enter age"
          class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition"
        />

        <div>
          @let ageCtrl = userData.get('age');
          @if (ageCtrl?.errors) {
            @if (ageCtrl?.hasError('required') && ageCtrl?.touched) {
              <h3 class="text-[13px] text-red-400">le champ age est obligatoire</h3>
            }
          }
        </div>
      </div>

      <!-- Button -->
      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-xl transition shadow-md hover:shadow-lg"
      >
        Add User
      </button>
    </form>
  </div>

  <div>
    <app-employee
      [employees]="employees()"
      [isLoading]="isLoading()"
      (idSelected)="deleteEmployee($event)"
    />
  </div>
</div>
