<div>
  <div class="py-10 px-15">
    <a routerLink="/list" class="underline text-blue-400 ">list</a>
  </div>

  <div class="bg-red-400 mt-50">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, dignissimos rem cum
    reprehenderit ipsum veniam esse. Expedita, perfernon numquam nobis vero corrupti dolores
    consectetur ipsam eum aliquid sed repellat nesciunt perferendis voluptatum repellendus assumenda
    velit! Eaque molestias iure officiis modi dolores, error fugit quos sequi optio, animi laborum
    ab praesentium eos quas necessitatibus assumenda iste exercitationem nemo. Cupiditate libero
    vitae dolor esse accusamus ipsam amet, perferendis enim sint temporibus hic, nesciunt modi
    recusandae blanditiis quod consequatur iusto deserunt deleniti architecto exercitationem atque.
    Iste!
  </div>
</div>
